<nav class="  bg-gray-800 text-white p-4 h-16 "> 
    <ul class="flex items-center space-x-8 ">
        <li><a href="{% url 'index' %}"  class="hover:hover:underline">Home</a></li>
        <li><a href="{% url 'contact' %}" class="hover:hover:underline">Contact</a></li>
        <li><a href="{% url 'about' %}" class="hover:hover:underline">About</a></li>
        <li><a href="{% url 'filters' %}" class="hover:hover:underline">Filters</a></li>
        <li><a href="{% url 'signup' %}" class="hover:hover:underline">SignUp</a></li>
        <li><a href="{% url 'login' %}" class="hover:hover:underline">Login</a></li>
        <li><a href="{% url 'blogs' %}" class="hover:hover:underline">Blogs</a></li>
    </ul>
    
</nav>
